<div class="app">
  <h2>Rubric</h2>
  <p>
    This page is a rubric populated from the JSON file saved to localStorage in the rubric editor. Refer to the rubric editor here: <a href='/rubricbuilder'>/rubricbuilder</a>. 
    The submit button in this page should be configured. It currently calls the postJSON method in the service, which runs a POST request to the /submitJSON endpoint.
  </p>
  <div *ngIf="json">      
    <form [formGroup]="rubricForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let elem of json; index as i">
        <p id="criterion{{i}}" class="criterion">{{elem.criterion}}</p>
        <div class="form-group" *ngFor="let radio of elem.radio; index as j">
          <label>
            <input type="radio" id="radio{{i}}_{{j}}" [checked]="radio.score==0" value={{radio.score}} formControlName="{{elem.name}}">
            &nbsp;{{radio.score}} points
          </label>
          <br>
          <p class="feedback" id="feedback{{i}}_{{j}}" size="40">{{radio.feedback}}</p>
        </div>
      </div>
      <button type="submit" [disabled]="!rubricForm.valid">Submit</button>	
    </form>
    <br>
  </div>
</div>