<div class="app">
  <h2>Rubric Builder</h2>
  <p>
    To do: This page will be a form where a user can add several elements
    (instances of a component). A single element/component contains some text
    and numeric &lt;input> elements. In this way the user will build a rubric,
    which will be stored and/or export as json. The json can be used to generate
    a rubric form as in the /rubric endpoint
  </p>

  <table style="width:100%">
    <thead></thead>
    <tbody>
      <div *ngFor="let rubric of rubrics; index as i">
        <tr>
          <td>
            <!--Criterion:&nbsp;
            <p style="display: inline;">Criterion:&nbsp;</p>-->
          </td>
          <td>
            <textarea type="text" name="criterion_{{i}}" id="criterion_{{i}}" class="criterion" [(ngModel)]="rubric.criterion" rows="2" cols="auto" placeholder="Fill in a criterion">
            </textarea>
          </td>
          <td></td>
        </tr>
        <tr class="form-group radio" *ngFor="let radio of rubric.radio; index as j">
          <td>
            Points:&nbsp;
            <input type="number" name="score_{{i}}_{{j}}" [(ngModel)]="radio.score"/>&nbsp;
          </td>
          <td>
            <textarea type="text" name="feedback_{{i}}_{{j}}" class="feedback"
              id="feedback_{{i}}_{{j}}" size="40" style="display: inline;" [(ngModel)]="radio.feedback" rows="2" cols="50" placeholder="feedback">
            </textarea>
          </td>
          <td>
            <div class="mvButtons">
                <ul>
                    <li title="Move Up" class="mvUp" id="mvUpRadio_{{i}}_{{j}}" (click)="clickMoveUpRadio($event)"></li>
                    <br>
                    <li title="Remove" class="clear" id="rmRadio_{{i}}_{{j}}" (click)="clickRemoveRadio($event)">&#10006;</li>
                    <br>
                    <li title="Move Down" class="mvDown" id="mvDownRadio_{{i}}_{{j}}" (click)="clickMoveDownRadio($event)"></li>
                </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn-dark" id="addpoint_{{i}}" (click)="clickAppendPoint($event)">Add Point & Feedback</button>
          </td>
          <td></td>
        </tr>
      </div>
    <tbody>
  </table>
  <button class="btn-dark" id="addrubricunit" (click)="clickAppendRubricUnit()">Add Rubric Unit</button>
  
  <button class="btn-dark" style="margin-left: 3em;" (click)="test()">test</button>
</div>
