<div class="app">
  <h2>Rubric Builder</h2>
  <p>
    This page is a rubric editor. The user creates a form composed of a number of single units. A single unit contains some text
    and numeric &lt;input> elements. 
    The rubric created here is used to generate a form/rubric visible in the
    <a href='/rubric'>/rubric</a> endpoint.

    To do this, create a rubric by adding unists and click Save. The rubric will be stored as JSON format in the browser's local storage. The rubric in JSON format can also be exported to/imported from text using the Export/Import JSON buttons
  </p>

  <table style="width:100%">
    <thead></thead>
    <tbody>
      <div *ngFor="let rubric of rubrics; index as i">
        <tr>
          <td>
            <!--Criterion:&nbsp;
            <p style="display: inline;">Criterion:&nbsp;</p>-->
          </td>
          <td>
            <textarea type="text" name="criterion_{{i}}" id="criterion_{{i}}" class="criterion" [(ngModel)]="rubric.criterion" rows="2" cols="auto" placeholder="Fill in a criterion">
            </textarea>
          </td>
          <td></td>
        </tr>
        <tr class="form-group radio" *ngFor="let radio of rubric.radio; index as j">
          <td>
            Points:&nbsp;
            <input type="number" name="score_{{i}}_{{j}}" [(ngModel)]="radio.score"/>&nbsp;
          </td>
          <td>
            <textarea type="text" name="feedback_{{i}}_{{j}}" class="feedback"
              id="feedback_{{i}}_{{j}}" size="40" style="display: inline;" [(ngModel)]="radio.feedback" rows="2" cols="50" placeholder="feedback">
            </textarea>
          </td>
          <td>
            <div class="mvButtons">
                <ul>
                    <li title="Move Up" class="mvUp" id="mvUpRadio_{{i}}_{{j}}" (click)="clickMoveUpRadio($event)"></li>
                    <br>
                    <li title="Remove" class="clear" id="rmRadio_{{i}}_{{j}}" (click)="clickRemoveRadio($event)">&#10006;</li>
                    <br>
                    <li title="Move Down" class="mvDown" id="mvDownRadio_{{i}}_{{j}}" (click)="clickMoveDownRadio($event)"></li>
                </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn-dark" id="addpoint_{{i}}" (click)="clickAppendPoint($event)">Add Point/Feedback</button>
          </td>
          <td></td>
        </tr>
      </div>
    <tbody>
  </table>
  <button class="btn-dark" id="addrubricunit" (click)="clickAppendRubricUnit()">Add Rubric Unit</button>
  <!--<button class="btn-dark" (click)="test()" style="margin-left:1em;">test</button>-->
  <br>
  <div *ngIf="!showImportArea">
    <button class="btn-dark" (click)="exportJSON()" id="exportButton">Export JSON</button>
    <button class="btn-dark" (click)="showImportArea=!showImportArea" style="margin-left:1em;">Import JSON</button>
    <button class="btn-dark" (click)="save()" style="margin-left:1em;">Save</button>
    <p *ngIf="showSaveMsg" style="color:rgb(125, 197, 9)">Rubric saved in local storage</p>
    <a id="download" download="rubric.json" hidden></a>
  </div>
  <div *ngIf="showImportArea">
    <textarea type="text" name="importjson" class="feedback" id="importjson" style="display: inline;" rows="3" cols="80" placeholder="json string" [(ngModel)]="parsedJSON"></textarea>
    <br>
    <button class="btn-dark" (click)="importJSON2Rubric()" (ngModel)="importJSONtext">import JSON</button>
    <button class="btn-dark" (click)="showImportArea=false" style="margin-left:1em;">Cancel</button>
  </div>
</div>
