<div class="app">
    <h2> Rubric Builder </h2>
    <p> To do: This page will be a form where a user can add several elements (instances of a component). A single element/component contains some text and numeric &lt;input> elements. In this way the user will build a rubric, which will be stored and/or export as json. The json can be used to generate a rubric form as in the /rubric endpoint</p>
    <!--
      <div *ngIf="json">      
        <div class="form-group" *ngFor="let elem of rubricArr; index as i">
        <p id="crit{{i}}">{{elem.criterion}}</p>  
        <div class="" *ngFor="let radio of elem.radio; index as j">          
          <input type="radio" name="score{{i}}" id="score{{i}}_{{j}}" value="0" checked="checked" [checked]="radio.score==0">
          <p style="display: inline;">{{radio.score}} points:&nbsp;</p>   
          <p id="feedback{{i}}_{{j}}" size="40" style="display: inline;">{{radio.feedback}}</p>
            <input type="radio" name="score{{i}}" id="score{{i}}_{{j}}">
            <p id="feedback{{i}}" size="40">{{radio.feedback}}</p>          
            <input type="text" name="feedback" id="feedback{{i}}_{{j}}" value="{{radio.feedback}}" size=40/> 
  
        </div>
        <hr>
      </div>
  
      <input id="feedback" class="btn btn-primary" type="text" name="feedback" value="" hidden/>
      <br>
    <input type="submit" value="Submit">
    </div>
    -->
  
</div>
    